/*  ====== VARIABLES ======  */
:root {
  /* ------ VARIABLES | COLORS ------ */
  --brandBright: #00cc99;
  --brandDark: hsl(240, 100%, 10%);
  --brandContent: hsl(240, 20%, 20%);
  --brandLink: hsl(240, 40%, 40%);
  --grey50: hsl(240, 20%, 50%);
  --grey80: hsl(240, 20%, 80%);
  --grey90: hsl(240, 20%, 90%);
  --grey96: hsl(240, 20%, 96%);
  --bluishWhite: hsl(240, 100%, 98%);
  --neutral: hsl(240, 10%, 50%);

  /* ------ VARIABLES | ELEMENT SIZES ------ */
  --xxsmall: 0.25rem;
  --xsmall: 0.5rem;
  --small: 0.75rem;
  --regular: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
  --xlarge: 4rem;

  /* ------ VARIABLES | TEXT SIZES ------ */
  --t-xsmall: 0.75rem;
  --t-small: 0.875rem;
  --t-regular: 1rem;
  --t-medium: 1.25rem;
  --t-large: 1.5rem;
  --t-xlarge: 2rem;
}

/*  ====== GLOBAL ======  */
/* ------ GLOBAL | HTML, BODY, AND SECTIONS ------ */
* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid var(--brandBright);
}
html {
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--brandDark);
}

/* ------ GLOBAL | RESETTING ------ */
h1,
h2,
h3,
p {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 0;
  margin: 0;
}

/* ------ GLOBAL | LAYOUT ------ */
body {
  position: relative;
}
main,
section {
  width: inherit;
}

/* ------ GLOBAL | COLORS ------ */
.green {
  color: var(--brandBright);
}

/* ------ GLOBAL | TYPOGRAPHY ------ */
h1 {
  margin-top: 0;
  font-size: var(--t-large);
  font-weight: 600;
}
h2 {
  font-size: var(--t-medium);
  font-weight: 600;
}
.bold {
  font-weight: 600;
}
.ar-font {
  font-family: "Tajawal", tahoma;
}
.en-font {
  font-family: "DM Sans", sans-serif;
}
.content .title {
  border-bottom: 1px solid var(--grey80);
}
.content p {
  font-size: var(--t-regular);
  margin: var(--t-regular) 0;
}

.pushing-article-bottom {
  padding-bottom: 3.375rem; /* This prevents article from going under the absolute bottom buttons*/
}

/* ------ GLOBAL | SCALING ------ */
/* TEXT SCALING */
/* This is to alter text size in HTML with classes*/
.t-xsmall {
  font-size: var(--t-xsmall);
}
.t-small {
  font-size: var(--t-small);
}
.t-regular {
  font-size: var(--t-regular);
}
.t-xlarge {
  font-size: var(--t-xlarge);
}
/* ELEMENTS SCALING*/
/* This is crucial for empty divs with background-image or to scale items up and down*/
.e-small {
  height: var(--small);
  width: var(--small);
}
.e-regular {
  height: var(--regular);
  width: var(--regular);
}
.e-medium {
  height: var(--medium);
  width: var(--medium);
}
.e-large {
  height: var(--large);
  width: var(--large);
}

/* ------ GLOBAL | DISPLAY ------ */
.block {
  display: block;
}
/* ------ GLOBAL | LISTS ------ */

/* ------ GLOBAL | LINKS ------ */
a {
  text-decoration: none;
  transition-duration: 0.2s;
  color: var(--brandDark);
}
.inactive {
  color: var(--grey80);
}

/* ------ GLOBAL | IMAGES ------ */

/* ------ GLOBAL | FORM ELEMENTS ------ */
form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: var(--t-xsmall);
}
.label-input-div {
  display: flex;
  flex-direction: column;
}
input,
button,
select {
  border-style: unset;
  border-radius: var(--xsmall);
  padding: var(--xsmall) var(--small);
  margin-bottom: var(--regular);
  color: var(--brandDark);
  background-color: var(--grey96);
  border-width: 0;
}
input::placeholder {
  color: var(--brandDark);
  font-size: var(--t-small);
}
input[type="checkbox"] {
  cursor: pointer;
  margin-bottom: 0;
}
select {
  width: 100%; /* This prevents selct element from streching based on its content */
}
select option {
  background-color: white;
  height: 2rem;
}
button {
  cursor: pointer;
  font-weight: 600;
  transition-duration: 0.2s;
  border-radius: var(--medium);
}
.filled {
  color: white;
  background-color: var(--brandBright);
}
.primary {
  color: var(--brandDark);
  border-radius: var(--medium);
  background-color: white;
}
.neutral {
  border-radius: var(--medium);
  color: var(--neutral);
}

/* ------ GLOBAL | ICONS AND VECTORS ------ */
/* This is essentil for the elements to show up as they don't have initial real estate on the screen*/
.icon,
.vector {
  display: flex;
  background-repeat: no-repeat;
}
.vector {
  width: 100%;
}
.icon {
  margin-right: var(--xxsmall);
}

/* ------ GLOBAL | DISPLAY DIRECTIONS ------ */
.rtl {
  background-position: right;
}
.ltr {
  background-position: left;
}

/* ------ GLOBAL | MARGINS ------ */
.margin-left-xxsmall {
  margin-left: var(--xxsmall);
}
.margin-right-xxsmall {
  margin-right: var(--xxsmall);
}
.margin-left-xsmall {
  margin-left: var(--xsmall);
}
.margin-right-xsmall {
  margin-right: var(--xsmall);
}
.margin-left-regular {
  margin-left: var(--regular);
}
.margin-right-regular {
  margin-right: var(--regular);
}
.margin-left-large {
  margin-left: var(--large);
}
.margin-right-large {
  margin-right: var(--large);
}
.margin-up-and-down-large {
  margin: var(--large) 0;
}

/* ------ GLOBAL | PADDINGS ------ */
.padding-regular {
  padding: var(--regular);
}

/* ------ GLOBAL | LOGOS ------ */
.logo-en {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 75'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23000033%7D%3C/style%3E%3C/defs%3E%3Cpath d='M37.5 0A37.49 37.49 0 0 0 5 56.25h13.75V70A37.5 37.5 0 1 0 37.5 0zm0 67.5a30 30 0 0 1-11.25-2.18v-9.07H37.5a18.75 18.75 0 0 0 0-37.5H18.75v30H9.68A30 30 0 1 1 37.5 67.5zM26.25 48.75v-22.5H37.5a11.25 11.25 0 0 1 0 22.5z' fill='%2300cc99'/%3E%3Cpath class='cls-2' d='M287.5 15h7.5v45h-7.5zM205 22.5h-7.5V60h7.5V41.25A11.25 11.25 0 0 1 216.25 30v-7.5A18.69 18.69 0 0 0 205 26.25zM275 26.25a18.75 18.75 0 1 0 0 30V60h7.5V22.5H275zM263.75 52.5A11.25 11.25 0 1 1 275 41.25a11.25 11.25 0 0 1-11.25 11.25zM131.25 15H105v45h7.5v-7.5h18.75a18.75 18.75 0 0 0 0-37.5zm0 30H112.5V22.5h18.75a11.25 11.25 0 0 1 0 22.5zM173.75 22.5a18.75 18.75 0 1 0 18.75 18.75 18.74 18.74 0 0 0-18.75-18.75zm0 30A11.25 11.25 0 1 1 185 41.25a11.25 11.25 0 0 1-11.25 11.25zM228.75 41.25V30h7.5v-7.5h-7.5V15h-7.5v26.25A18.74 18.74 0 0 0 240 60v-7.5a11.25 11.25 0 0 1-11.25-11.25zM350.1 30l8.69-15H350l-13 22.5a15 15 0 1 0 13.1-7.5zm-.1 22.5a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5zM330 15h-27.5v7.5h14.41l-8.69 15H315a7.5 7.5 0 1 1-7.5 7.5H300a15 15 0 1 0 20.67-13.89L330 15zM385.12 30h-4.94l2.17-7.5h15.15V15h-21L370 37.5h15a7.5 7.5 0 1 1-7.5 7.5H370a15 15 0 1 0 15.12-15z'/%3E%3C/svg%3E");
}
.logo-ar {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 37.5'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23003%7D%3C/style%3E%3C/defs%3E%3Cpath d='M181.25 0A18.76 18.76 0 00165 28.13h6.87V35a18.75 18.75 0 109.37-35zm0 33.75a15 15 0 01-5.62-1.09v-4.53h5.62a9.38 9.38 0 100-18.75h-9.37v15h-4.54a15 15 0 1113.91 9.37zm-5.62-9.37V13.13h5.62a5.63 5.63 0 110 11.25z' fill='%230c9'/%3E%3Cpath class='cls-2' d='M103.75 23.75a5.63 5.63 0 01-5.62 5.63v3.75a9.38 9.38 0 009.37-9.38V11.88h-3.75zm-4.37-11.87h-3.75v5.62A5.63 5.63 0 0190 23.13h-8.75V4.38H77.5v22.5H90a9.38 9.38 0 009.38-9.38zM71.25 23.13h-9.37a5.63 5.63 0 110-11.25V8.13a9.38 9.38 0 100 18.75H75V4.38h-3.75zM143.75 10v7.5a5.63 5.63 0 01-5.62 5.63h-10.46l.59-1.19a9.36 9.36 0 10-8.26 4.94 10.39 10.39 0 001.68-.16l-3.18 6.41h4.19l3.11-6.25h12.33a9.38 9.38 0 009.37-9.38V10zM120 23.13a5.63 5.63 0 115.63-5.63 5.62 5.62 0 01-5.63 5.63z'/%3E%3Ccircle class='cls-2' cx='135.63' cy='30.63' r='1.88'/%3E%3Ccircle class='cls-2' cx='97.5' cy='8.13' r='1.88'/%3E%3Ccircle class='cls-2' cx='91.88' cy='8.13' r='1.88'/%3E%3Cpath class='cls-2' d='M25.05 11.88l4.34-7.5H25l-6.5 11.25a7.5 7.5 0 1010.25-2.75 7.41 7.41 0 00-3.7-1zM25 23.13a3.75 3.75 0 113.75-3.75A3.75 3.75 0 0125 23.13zM15 4.38H1.25v3.75h7.2l-4.34 7.5H7.5a3.75 3.75 0 11-3.75 3.75H0a7.5 7.5 0 1010.34-6.95zm27.56 7.5h-2.47l1.09-3.75h7.57V4.38H38.26L35 15.63h7.5a3.75 3.75 0 11-3.75 3.75H35a7.5 7.5 0 107.56-7.5z'/%3E%3C/svg%3E");
}

/* ------ GLOBAL | FLEX ------ */
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.column {
  flex-direction: column;
}
.vertical-space-between {
  justify-content: space-between;
}
/* GRID------ GLOBAL | FLEX ------ */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* ------ GLOBAL | CHILDERN MANAGEMENT ------ */
.margin-children-right-xsmall > * {
  margin-right: var(--xsmall);
}
.margin-children-right-small > * {
  margin-right: var(--small);
}
.margin-children-left-small > * {
  margin-left: var(--small);
}
.margin-children-right-regular > * {
  margin-right: var(--regular);
}
.children-margin-left-regular > * {
  margin-left: var(--regular);
}
/* LAST CHILD HANDLING */
.margin-children-right-xsmall > :last-child,
.margin-children-right-small > :last-child,
.margin-children-right-regular > :last-child {
  margin-right: 0;
}
.margin-children-left-smalll > :last-child,
.children-margin-left-regular > :last-child {
  margin-left: 0;
}

/* ------ GLOBAL | MEDIA QUIRIES ------ */
@media only screen and (min-width: 1024px) {
  a:hover {
    color: var(--brandBright);
  }
  .filled:hover {
    filter: brightness(1.05);
  }
}
@media only screen and (min-width: 1200px) {
  html,
  input,
  button,
  select {
    font-size: 1.2vw;
  }
}
.primary:hover {
  background-color: var(--brandBright);
  color: white;
  border-color: var(--brandBright);
}
.neutral:hover {
  color: white;
  background-color: var(--neutral);
}
