/******************************************************
| INDEX                                               |
*******************************************************
| = GRANTS PAGE                                       |      
******************************************************
| LEGEND                                              |
*******************************************************
| === MAIN SECTION                                    |
| --- SUB-SECTION                                     |
*******************************************************
*******************************************************
| SECTIONING BEST PRACTIC                             |
*******************************************************
| ====== MAIN SECTION NAME ======                     |
| ------ MAIN SECTION NAME | SUB-SECTION NAME ------  |
| SPACE OF TWO LINES BEFORE MAIN SECTION              |
| SPACE OF ONE LINE BEFORE SUB-SECTION                |
| NO SPACE BETWEEN TITLE AND FIRST RULE SET           |
| NO SPACES BETWEEN RULE SETS                         |
******************************************************/
/* ====== SYSTEM GLOBAL ====== */

/* ------ SYSTEM GLOBAL | TYPOGRAPHY ------ */
html {
  overflow: hidden;
}
body {
  overflow: auto;
  font-size: var(--t-small);
  font-family: "DM Sans", sans-serif, tahoma;
}
input,
button,
.select-menu {
  font-size: var(--t-small);
  font-family: "DM Sans", sans-serif, tahoma;
}

/* ------ SYSTEM GLOBAL | LAYOUT ------ */
main {
  padding: var(--regular);
}

.overview-wrapper {
  border-radius: var(--xsmall);
  margin-bottom: var(--medium);
  padding: var(--regular);
  grid-gap: var(--xsmall);
  background-color: var(--bluishWhite);
}
.overview-wrapper select {
  background-color: white;
}

.overview-wrapper > * {
  flex-grow: 1;
}
.overview-wrapper select {
  width: 80%;
  margin-bottom: 0;
}
.actions-bar {
  align-items: flex-end;
}
.filter-bar {
  align-items: flex-end;
}
.filter-bar > * {
  flex-basis: 100%;
}
.stick-to-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  border-top-right-radius: var(--regular);
  border-top-left-radius: var(--regular);
  background-color: var(--grey96);
  padding: var(--regular) var(--regular);
}
.stick-to-bottom button {
  margin-bottom: 0;
}
/* ------ SYSTEM GLOBAL | TABLES ------ */
table {
  overflow: auto;
}
table,
tbody,
tr {
  width: inherit;
}

.table-flex,
.table-flex > tbody {
  display: flex;
  flex-direction: column;
}
tbody > * {
  padding: var(--small);
}
tr {
  border-bottom: 1px solid var(--grey96);
}
tbody > :first-child {
  background-color: var(--grey96);
  font-weight: 600;
  letter-spacing: 1px;
  border-top-right-radius: var(--small);
  border-top-left-radius: var(--small);
}
/* tbody > :first-child > :not(:last-child) {
  position: relative;
} */
.order {
  color: var(--grey80);
}
tr {
  display: flex;
  align-items: center;
}
tr > td {
  display: inline-block; /*To override the initial value of table-cell*/
  padding: 0 var(--xsmall);
}
tr > :nth-child(2) {
  width: 20%;
  flex-grow: 2;
  font-weight: 600;
}
tr > :nth-child(3) {
  width: 10%;
  flex-grow: 1;
}
tr > td:nth-child(n + 4):not(:last-child) {
  width: 10%;
}
tr > :first-child {
  text-align: center;
}
tr > :last-child {
  text-align: center;
  width: 2%;
}
td > a {
  cursor: pointer;
}

/* ------ SYSTEM GLOBAL | TAGS  ------ */
.tag-childern > * {
  background-color: var(--grey96);
  border-radius: var(--large);
  padding: var(--xxsmall) var(--xsmall);
  display: inline-block;
  margin: 2px;
}
.number-childern {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--regular);
}
.number-childern > *,
.number {
  height: var(--large);
  width: var(--large);
  border-radius: 50%;
  text-align: center;
  line-height: var(--large); /* To be cetered vertically*/
  background-color: var(--grey96);
}
.number-childern > :first-child,
.number-childern > *:hover,
.number-childern > *:active {
  background-color: var(--brandBright);
  color: white;
  border-color: var(--brandBright);
}

/* ====== MODULES ====== */

/* ------ MODULES | HEADER ------ */
.header-wrapper {
  padding: var(--xsmall);
  font-size: var(--t-small);
  box-shadow: 0 0px 20px var(--grey96);
  position: relative;
  background-color: white;
}
.header-logo {
  flex-grow: 2;
  justify-content: flex-start;
}
.header-nav {
  flex-grow: 3;
}
.header-actions {
  flex-grow: 1;
  justify-content: flex-end;
}
.account-menu {
  padding: var(--xxsmall);
  border-radius: var(--large);
}

@media only screen and (min-width: 1024px) {
  .account-menu:hover {
    background-color: var(--grey96);
  }
  .order:hover {
    color: var(--brandBright);
  }
  .tag-childern > *:hover {
    background-color: var(--brandBright);
    color: white;
  }
}
