/******************************************************
| INDEX                                               |
*******************************************************
| = GRANTS PAGE                                       |      
******************************************************
| LEGEND                                              |
*******************************************************
| === MAIN SECTION                                    |
| --- SUB-SECTION                                     |
*******************************************************
*******************************************************
| SECTIONING BEST PRACTIC                             |
*******************************************************
| ====== MAIN SECTION NAME ======                     |
| ------ MAIN SECTION NAME | SUB-SECTION NAME ------  |
| SPACE OF TWO LINES BEFORE MAIN SECTION              |
| SPACE OF ONE LINE BEFORE SUB-SECTION                |
| NO SPACE BETWEEN TITLE AND FIRST RULE SET           |
| NO SPACES BETWEEN RULE SETS                         |
******************************************************/
/* ====== SYSTEM GLOBAL ====== */

/* ------ SYSTEM GLOBAL | TYPOGRAPHY ------ */
body {
  font-size: var(--t-small);
  font-family: "DM Sans", sans-serif, tahoma;
}
input,
button,
.select-menu {
  font-size: var(--t-small);
  font-family: "DM Sans", sans-serif, tahoma;
}
.ar-font {
  font-family: "Tajawal", tahoma;
}
.en-font {
  font-family: "DM Sans", sans-serif;
}
.page-title {
  font-size: var(--large);
}

/* ------ SYSTEM GLOBAL | LAYOUT ------ */
main {
  padding: var(--regular);
}
.actions-bar {
  align-items: flex-end;
}
.filter-bar {
  flex-basis: 60%;
  align-items: flex-end;
}
.filter-bar > * {
  flex-basis: 100%;
}

/* ------ SYSTEM GLOBAL | FORM ELEMENTS ------ */
input,
button,
select {
  padding: var(--xsmall) var(--small);
  margin-bottom: var(--regular);
}
/* ------ SYSTEM GLOBAL | TABLES ------ */
table {
  overflow: auto;
}
table,
tbody,
tr {
  width: inherit;
}

.table-flex,
.table-flex > tbody {
  display: flex;
  flex-direction: column;
}
tbody > * {
  padding: var(--small);
}
tr {
  border-bottom: 1px solid var(--grey96);
}
tbody > :first-child {
  background-color: var(--grey96);
  font-weight: 600;
  letter-spacing: 1px;
  border-top-right-radius: var(--small);
  border-top-left-radius: var(--small);
}
/* tbody > :first-child > :not(:last-child) {
  position: relative;
} */
.order {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: -0.5rem;
  font-size: var(--t-xsmall);
  transform: rotate(-90deg);
  color: var(--grey80);
}
tr {
  display: flex;
  align-items: center;
}
tr > td {
  display: inline-block; /*To override the initial value of table-cell*/
  padding: 0 var(--xxsmall);
}
tr > :nth-child(2) {
  width: 20%;
  flex-grow: 2;
  font-weight: 600;
}
tr > :nth-child(3) {
  width: 10%;
  flex-grow: 1;
}
tr > td:nth-child(n + 4):not(:last-child) {
  width: 10%;
}
tr > :first-child {
  text-align: center;
}
tr > :last-child {
  text-align: center;
  width: 2%;
}
.tag-childern > * {
  background-color: var(--grey96);
  border-radius: var(--large);
  padding: var(--xxsmall) var(--small);
  display: inline-block;
  border: 2px solid white;
  margin: 0;
}

/* ------ SYSTEM GLOBAL | SEARCH  ------ */
.number-childern {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--regular);
}
.number-childern > * {
  height: var(--large);
  width: var(--large);
  border-radius: 50%;
  text-align: center;
  line-height: var(--large); /* To be cetered vertically*/
  background-color: var(--grey96);
}
.number-childern > :first-child,
.number-childern > *:hover,
.number-childern > *:active {
  background-color: var(--brandGreen);
  color: white;
  border-color: var(--brandGreen);
}
/* ------ SYSTEM GLOBAL | MEDIA QUIRIES ------ */

@media only screen and (min-width: 1024px) {
  a:hover {
    color: var(--brandGreen);
  }
  button:hover {
    filter: brightness(1.05);
  }
}
@media only screen and (min-width: 1200px) {
  html,
  input,
  button,
  select {
    font-size: 1.2vw;
  }
}

/* ====== MODULES ====== */

/* ------ MODULES | HEADER ------ */
.header-wrapper {
  padding: var(--xsmall);
  font-size: var(--t-small);
  box-shadow: 0 0px 20px var(--grey96);
  position: relative;
  background-color: white;
}
.icon {
  display: inline-block;
}
.main-nav {
  display: flex;
}
.logo-header {
  flex-basis: 15%;
}
.nav-header {
  flex-basis: 45%;
}
.nav-header > * {
  margin-right: var(--small);
}
.info-header {
  flex-basis: 25%;
}
.account-name {
  font-size: var(--t-xsmall);
}
.account-menu {
  padding: var(--xxsmall);
  border-radius: var(--large);
}

@media only screen and (min-width: 1024px) {
  .account-menu:hover {
    background-color: var(--grey96);
  }
  .order:hover {
    color: var(--brandGreen);
  }
  .tag-childern > *:hover {
    background-color: var(--brandGreen);
    color: white;
  }
}
