/*  --- GLOBAL / VARIABLES ---  */
:root {
  /* --- GLOBAL / VARIABLES / COLORS / PRIMARY COLORS --- */
  --brandBright: hsl(165, 100%, 40%);
  --brandDark: hsl(240, 100%, 10%);

  /* --- GLOBAL / VARIABLES / COLORS / GREY SHADES --- */
  --brandLink: hsl(240, 10%, 40%);
  --grey50: hsl(240, 10%, 50%);
  --grey80: hsl(240, 10%, 80%);
  --grey96: hsl(240, 10%, 96%);
  /* --- GLOBAL / VARIABLES / COLORS / OTHER VARIATIONS --- */
  --bluishWhite98: hsl(240, 100%, 98%);

  /* --- GLOBAL / VARIABLES / ELEMENT SIZES --- */
  --xxsmall: 0.25rem;
  --xsmall: 0.5rem;
  --small: 0.75rem;
  --regular: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
  --xlarge: 4rem;

  /* --- GLOBAL / VARIABLES / TEXT SIZES --- */
  --t-small: 0.875rem;
}

/* --- GLOBAL / * SELECTOR --- */
* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid var(--brandBright);
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "poppins", "Tajawal", tahoma, sans-serif;
  color: var(--brandDark);
  scroll-behavior: smooth;
}
section {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
section:not(:first-child) {
  min-height: calc(100vh - 3vh);
  justify-content: space-evenly;
  padding: 2rem;
  padding-top: 5rem;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
  margin-top: var(--regular);
}

.tilt {
  animation: move-down 1s infinite alternate linear;
  animation-fill-mode: both;
}

figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.fragment > * {
  flex-basis: 48%;
}
.find {
  flex-basis: 100%;
  width: 100%;
}
.find .icon-vertical {
  align-items: center;
}

span + h2 {
  position: relative;
  font-size: 6vw;
  z-index: 1;
}
.fragment h2 {
  margin: 4vw 0;
}
.fragment h2:after {
  content: "";
  background: var(--bluishWhite98);
  height: 2vw;
  right: 0;
  bottom: 0;
  border-radius: 2vw;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: unset;
  border-radius: var(--large);
  color: var(--brandBright);
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid var(--brandBright);
  align-self: center;
}
.cover-link {
  display: none;
}

.icon-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon-vertical span {
  font-size: 6rem;
}
table {
  width: 100%;
}
.icon-link {
  display: flex;
  align-items: center;
}
.channel-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}

.icon-link > :first-child {
  margin-right: var(--xsmall);
}
.ar .icon-link > :first-child {
  margin-left: var(--xsmall);
}
.signup {
  padding: var(--xxsmall) var(--medium);
  background-color: var(--brandBright);
  border-radius: var(--large);
  color: white;
}
.logo-solution {
  padding: 1.25rem;
}

.illustrations {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.flex {
  display: flex;
}
.alternate {
  flex-direction: row-reverse;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.cover-wrapper {
  padding: 4vh;
  height: inherit;
  min-height: inherit;
  position: relative;
  z-index: 2;
}
.wrapper {
  min-height: calc(100vh - 7rem);
  width: inherit;
  align-items: center;
}
.wrapper:nth-child(odd) {
  border-radius: var(--regular);
  background-color: white;
}

.cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: var(--brandDark);
  color: white;
}
.wrapper.cover {
  background-color: transparent;
}
/* ------ GLOBAL | LOGOS ------ */
.logo-en {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 75'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23000033%7D%3C/style%3E%3C/defs%3E%3Cpath d='M37.5 0A37.49 37.49 0 0 0 5 56.25h13.75V70A37.5 37.5 0 1 0 37.5 0zm0 67.5a30 30 0 0 1-11.25-2.18v-9.07H37.5a18.75 18.75 0 0 0 0-37.5H18.75v30H9.68A30 30 0 1 1 37.5 67.5zM26.25 48.75v-22.5H37.5a11.25 11.25 0 0 1 0 22.5z' fill='%2300cc99'/%3E%3Cpath class='cls-2' d='M287.5 15h7.5v45h-7.5zM205 22.5h-7.5V60h7.5V41.25A11.25 11.25 0 0 1 216.25 30v-7.5A18.69 18.69 0 0 0 205 26.25zM275 26.25a18.75 18.75 0 1 0 0 30V60h7.5V22.5H275zM263.75 52.5A11.25 11.25 0 1 1 275 41.25a11.25 11.25 0 0 1-11.25 11.25zM131.25 15H105v45h7.5v-7.5h18.75a18.75 18.75 0 0 0 0-37.5zm0 30H112.5V22.5h18.75a11.25 11.25 0 0 1 0 22.5zM173.75 22.5a18.75 18.75 0 1 0 18.75 18.75 18.74 18.74 0 0 0-18.75-18.75zm0 30A11.25 11.25 0 1 1 185 41.25a11.25 11.25 0 0 1-11.25 11.25zM228.75 41.25V30h7.5v-7.5h-7.5V15h-7.5v26.25A18.74 18.74 0 0 0 240 60v-7.5a11.25 11.25 0 0 1-11.25-11.25zM350.1 30l8.69-15H350l-13 22.5a15 15 0 1 0 13.1-7.5zm-.1 22.5a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5zM330 15h-27.5v7.5h14.41l-8.69 15H315a7.5 7.5 0 1 1-7.5 7.5H300a15 15 0 1 0 20.67-13.89L330 15zM385.12 30h-4.94l2.17-7.5h15.15V15h-21L370 37.5h15a7.5 7.5 0 1 1-7.5 7.5H370a15 15 0 1 0 15.12-15z'/%3E%3C/svg%3E");
}
.logo-ar {
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 37.5'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23003%7D%3C/style%3E%3C/defs%3E%3Cpath d='M181.25 0A18.76 18.76 0 00165 28.13h6.87V35a18.75 18.75 0 109.37-35zm0 33.75a15 15 0 01-5.62-1.09v-4.53h5.62a9.38 9.38 0 100-18.75h-9.37v15h-4.54a15 15 0 1113.91 9.37zm-5.62-9.37V13.13h5.62a5.63 5.63 0 110 11.25z' fill='%230c9'/%3E%3Cpath class='cls-2' d='M103.75 23.75a5.63 5.63 0 01-5.62 5.63v3.75a9.38 9.38 0 009.37-9.38V11.88h-3.75zm-4.37-11.87h-3.75v5.62A5.63 5.63 0 0190 23.13h-8.75V4.38H77.5v22.5H90a9.38 9.38 0 009.38-9.38zM71.25 23.13h-9.37a5.63 5.63 0 110-11.25V8.13a9.38 9.38 0 100 18.75H75V4.38h-3.75zM143.75 10v7.5a5.63 5.63 0 01-5.62 5.63h-10.46l.59-1.19a9.36 9.36 0 10-8.26 4.94 10.39 10.39 0 001.68-.16l-3.18 6.41h4.19l3.11-6.25h12.33a9.38 9.38 0 009.37-9.38V10zM120 23.13a5.63 5.63 0 115.63-5.63 5.62 5.62 0 01-5.63 5.63z'/%3E%3Ccircle class='cls-2' cx='135.63' cy='30.63' r='1.88'/%3E%3Ccircle class='cls-2' cx='97.5' cy='8.13' r='1.88'/%3E%3Ccircle class='cls-2' cx='91.88' cy='8.13' r='1.88'/%3E%3Cpath class='cls-2' d='M25.05 11.88l4.34-7.5H25l-6.5 11.25a7.5 7.5 0 1010.25-2.75 7.41 7.41 0 00-3.7-1zM25 23.13a3.75 3.75 0 113.75-3.75A3.75 3.75 0 0125 23.13zM15 4.38H1.25v3.75h7.2l-4.34 7.5H7.5a3.75 3.75 0 11-3.75 3.75H0a7.5 7.5 0 1010.34-6.95zm27.56 7.5h-2.47l1.09-3.75h7.57V4.38H38.26L35 15.63h7.5a3.75 3.75 0 11-3.75 3.75H35a7.5 7.5 0 107.56-7.5z'/%3E%3C/svg%3E");
}
.cover-logo {
  height: 2.5rem;
  width: 100%;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 75'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23ffffff%7D%3C/style%3E%3C/defs%3E%3Cpath d='M37.5 0A37.49 37.49 0 0 0 5 56.25h13.75V70A37.5 37.5 0 1 0 37.5 0zm0 67.5a30 30 0 0 1-11.25-2.18v-9.07H37.5a18.75 18.75 0 0 0 0-37.5H18.75v30H9.68A30 30 0 1 1 37.5 67.5zM26.25 48.75v-22.5H37.5a11.25 11.25 0 0 1 0 22.5z' fill='%2300cc99'/%3E%3Cpath class='cls-2' d='M287.5 15h7.5v45h-7.5zM205 22.5h-7.5V60h7.5V41.25A11.25 11.25 0 0 1 216.25 30v-7.5A18.69 18.69 0 0 0 205 26.25zM275 26.25a18.75 18.75 0 1 0 0 30V60h7.5V22.5H275zM263.75 52.5A11.25 11.25 0 1 1 275 41.25a11.25 11.25 0 0 1-11.25 11.25zM131.25 15H105v45h7.5v-7.5h18.75a18.75 18.75 0 0 0 0-37.5zm0 30H112.5V22.5h18.75a11.25 11.25 0 0 1 0 22.5zM173.75 22.5a18.75 18.75 0 1 0 18.75 18.75 18.74 18.74 0 0 0-18.75-18.75zm0 30A11.25 11.25 0 1 1 185 41.25a11.25 11.25 0 0 1-11.25 11.25zM228.75 41.25V30h7.5v-7.5h-7.5V15h-7.5v26.25A18.74 18.74 0 0 0 240 60v-7.5a11.25 11.25 0 0 1-11.25-11.25zM350.1 30l8.69-15H350l-13 22.5a15 15 0 1 0 13.1-7.5zm-.1 22.5a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5zM330 15h-27.5v7.5h14.41l-8.69 15H315a7.5 7.5 0 1 1-7.5 7.5H300a15 15 0 1 0 20.67-13.89L330 15zM385.12 30h-4.94l2.17-7.5h15.15V15h-21L370 37.5h15a7.5 7.5 0 1 1-7.5 7.5H370a15 15 0 1 0 15.12-15z'/%3E%3C/svg%3E");
}

.ar .header-logo {
  background-position: right;
}
.logo-icon {
  display: none;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16 0A16 16 0 000 16a16.73 16.73 0 002.13 8H8v5.87A16 16 0 0024 2.13 16.73 16.73 0 0016 0zm0 28.81a15.14 15.14 0 01-4.8-.94V24H16a8 8 0 100-16H8v12.81H4.27A12.81 12.81 0 1128 11.2a12.63 12.63 0 01-7.07 16.54A13.08 13.08 0 0116 28.81zm-4.8-8V11.2H16a4.8 4.8 0 014.54 5.07A4.88 4.88 0 0116 20.81z' fill='%230c9'/%3E%3C/svg%3E");
}

.cover-title {
  font-size: calc(5vw + 2rem);
  font-weight: 800;
  word-wrap: break-word;
  line-height: calc(5vw + 4rem);
}
.cover-container {
  background: linear-gradient(45deg, var(--grey96), #fff);
  min-height: 100vh;
}

@keyframes move-down {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(25%);
  }
}
a {
  text-decoration: none;
  font-weight: 300;
  color: var(--grey80);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  cursor: pointer;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: var(--xsmall);
  font-size: var(--t-small);
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 5px 5px 10px rgba(200, 200, 200, 0.25);
}

.header-logo {
  background-position: left;
  height: 1.5rem;
  flex-basis: 15%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 70%;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 15%;
}
.fragment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style-type: disc;
  margin-block-start: 0rem;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 2rem;
}
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.find p {
  margin: 0;
}
img {
  object-fit: contain;
  height: auto;
  width: 100%;
  max-width: 100%;
  transition-duration: 0.3s;
  /*   box-shadow: 0 0 20px var(--grey96);
 */
}

.title-icon {
  font-size: 1.75rem;
  color: var(--brandBright);
}
.bold {
  font-weight: 600;
  font-size: calc(1rem + 2vw);
  padding: 0.5vw 0;
}
.channels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.channel {
  display: block;
  width: 49%;
  background-color: var(--bluishWhite);
  transition-duration: 0.3s;
  margin: 0.5rem 0;
  color: var(--brandLink);
  border-radius: 1rem;
  padding: 2rem;
}

.fragment {
  font-size: 2.5vw;
  line-height: 3vw;
  padding: 1rem;
}
.label {
  font-size: 2vw;
  margin-top: 0.5rem;
  color: var(--grey50);
}

.channel {
  padding: var(--small);
}
@media only screen and (max-width: 25cm), (max-aspect-ratio: 3/4) {
  .fragment > * {
    flex-basis: 35%;
  }
  .cover-title {
    font-size: calc(3vh + 2rem);
    line-height: calc(6vh + 2rem);
  }
  .bold {
    font-size: calc(1rem + 4vw);
    padding: 2vh 0;
  }
  .label {
    font-size: 2vh;
  }

  .signup {
    border-radius: var(--xxsmall);
  }
  .show {
    display: initial;
  }
  .icon-link > :first-child {
    margin: 0;
  }
  .ar .icon-link > :first-child {
    margin: 0;
  }
  section:not(:first-child) {
    min-height: calc(100vh - 2.5rem);
    justify-content: space-evenly;
    padding: 1rem;
    padding-top: 2.5rem;
  }

  .cover-logo {
    height: 6vh;
  }
  .next {
    font-size: 3vh;
  }
  .hide {
    display: none;
  }
  .logo-icon {
    display: initial;
  }
  .signup {
    padding: var(--xxsmall) var(--xsmall);
  }
  .header-logo,
  .header-menu {
    flex-basis: 8%;
  }
  .header-nav {
    flex-basis: 70%;
  }
  .fragment,
  .channels {
    flex-direction: column-reverse;
    align-items: initial;
  }
  .header-nav {
    font-size: 1rem;
  }
  .fragment h2 {
    margin: 4vh 0;
  }
  figure {
    padding: 1rem;
  }
  span + h2,
  .fragment span {
    font-size: calc(1.5rem + 4vw);
  }
  .fragment {
    font-size: calc(1rem + 1vh);
    line-height: 2rem;
  }
  .channel {
    width: 100%;
    text-align: center;
    padding: var(--xsmall);
  }
}
@media (max-aspect-ratio: 1/2) {
  .cover-title {
    font-size: calc(1rem + 4vh);
  }
  * {
    padding: 0;
  }
  .cover {
    padding: 0;
  }
  * {
    word-break: break-all;
    word-wrap: break-all;
  }
}
@media (pointer: fine) {
  .next:hover {
    color: white;
    background: var(--brandBright);
    border: 1px solid var(--brandBright);
  }
  .signup:hover {
    filter: brightness(1.1);
    color: white;
  }
  a:hover {
    color: var(--brandBright);
  }
  img:hover {
    transform: scale(1.05);
  }
  .channel:hover {
    background: var(--brandBright);
    color: white;
  }
}
@media only screen and (min-width: 1366px) {
  html {
    font-size: 1.125vw;
  }
}


@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  .next {
    display: none;
  }
  .page-header {
    display: none;
  }
  .cover-link {
    display: initial;
  }
  section:not(:first-child) {
    padding: 3.5rem;
    min-height: 100vh;
  }
  @page {
    margin: 0;
    orientation: landscape;
  }
}
